@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    margin: 0;
    margin-top: 40px;
    background-color: #1B244A;
}

.container {
    max-width: 700px;
    margin: auto;    
    display: flex;
    justify-content: space-around;
    
}

.home-container{
    width: 155px;
    margin-right: 20px;
}

#guest-id{
    margin-right: 0px;
}

p{
    padding-top: 18px;
    margin: 0;
    color: #F94F6D;
    font-size: 90px;
    text-align: center;
    background: #080001;
    height: 118px;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Cursed Timer ULiL';
}
h3{
    margin: 0;
    margin-bottom: 20px;
    color: #EEEEEE;
    font-family: Verdana;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-group button{
    background: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
}

.btn-group button:hover{
    background: green;
    border: none;
    color: white;
}
.new-game-div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.new{
    background: #1B244A;
    font-weight: bold;
    font-family: Verdana;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.55s border 0.55s color 0.55s ;
}

.new:hover{
    background: red;
    border: none;
    color: white;
}

.counters{
    display: flex;

    justify-content: space-around;
}

.counters h2{
    color: #EEEEEE;
    font-family: Verdana;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.counters p{
    height: 40px;
    width: 140px;
    font-family: 'Cursed Timer ULiL';
}